.additional
  .keepcenter
    .additional__inner
      h2.additional__title Способ применения и дозы
      h3.additional__subtitle Внутрь, независимо от приема пищи.
      .additional__text Для лечения гриппа и ОРВИ взрослым назначают в первые два дня – по 1 таблетки 2 раза в день. Всего на курс – 10 таблеток, длительность курса – 5 дней. 
      .additional__button
        button.button.button_blue заказать препарат


