.benefit-cards
  .keepcenter
    .benefit-cards__inner
      .benefit-card.benefit-card_blue
        .benefit-card__image 
          span.benefit-card__ico
            svg.icon
              use(xlink:href="#ico_5")
        .benefit-card__text Формирует естественный крепкий иммунитет
      .benefit-card
        .benefit-card__image 
          span.benefit-card__ico
            svg.icon
              use(xlink:href="#ico_6")
        .benefit-card__text Защищает от вирусных инфекций
      .benefit-card
        .benefit-card__image 
          span.benefit-card__ico
            svg.icon
              use(xlink:href="#ico_6.1")
        .benefit-card__text Придает организму энергию и жизненные силы
      .benefit-card
        .benefit-card__image 
          span.benefit-card__ico
            svg.icon
              use(xlink:href="#ico_7.1")
        .benefit-card__text Улучшает усвоение витаминов и минералов
      .benefit-card
        .benefit-card__image 
          span.benefit-card__ico
            svg.icon
              use(xlink:href="#ico_8")
        .benefit-card__text Активизирует иммунные клетки, подавляющие вирус
