.exposition
  .keepcenter
    .exposition__inner
      .exposition__image.image-wrap
        .image
          img(src="files/directory/img/art_4.png", alt="")
      .exposition__info
        h2.exposition__title Только крепкий иммунитет 
        h3.exposition__subtitle Самое актуальное
        p.exposition__text Иммунитет — удивительная вещь. Все знают, что он у нас есть и что он жутко важный. Кто-то уверен, что он прячется в кишечнике (спасибо рекламе). Кто-то вспоминает что-то про лимфоузлы. Кто-то с честными глазами может сказать, что иммунная система — это штука посильнее «Фауста» Гёте, и будет прав.
        p.exposition__text Но как бы кто ни относился к иммунитету, большинство уверено, что его надо укрепить или повысить. В общем, сделать что-то такое, чтобы он защитил нас от всего на свете: и от гриппа, и от усталости. Некоторые вспоминают, что и от рака что-то там помогает.
        div.exposition__teaser И всего 
          span.exposition__price 999 руб.

