section.main-screen
  .keepcenter
    .header
      .header__inner
        .logo
          h2.logo__title BIOSCAN
          h3.logo__subtitle против вирусных инфекций
        .benefits
          .benefits__item
            span.benefits__ico
              svg.icon
                use(xlink:href="#ico_1")
            span.benefits__text 100% НАТУРАЛЬНЫЙ СОСТАВ
          .benefits__item
            span.benefits__ico
              svg.icon
                use(xlink:href="#ico_2")
            span.benefits__text ОДОБРЕНО НИИ ИММУНОЛОГИИ
          .benefits__item
            span.benefits__ico
              svg.icon
                use(xlink:href="#ico_3")
            span.benefits__text 100% ОТСУТСТВИЕ РЕЦИДИВОВ
    .order-layer
      .order-layer__inner
        .order-layer__info
          h1.order-layer__title НЕПРОБИВАЕМЫЙ ИММУНИТЕТ ВСЕГО ЗА ОДИН КУРС!
          p.order-layer__subtitle Но как бы кто ни относился к иммунитету, большинство уверено, что его надо укрепить или повысить.
          ul.properties
            li.properties__item Повышают сопротивляемость организма ОРВИ, ОРЗ, инфекциям
            li.properties__item Ускоряют выздоровление в период простуды
            li.properties__item Нормализуют обменные процессы
            li.properties__item Помогают сохранить активность и бодрость даже в момент снижения защитных сил организма
          .time-left
            .time-left__text
              strong.highlighted Акция
              span.small заканчивается через
            .time-left__counter
              script(src="files/directory/js/timerInit.js")
          .form
            form(action="/order" method="post")
              .form__field
                input(type="text" placeholder="Ваше имя")
              .form__field
                input(type="text" placeholder="Ваш телефон")
              .form__button
                button(type="submit" class="button") заказать товар
        .teaser
          .teaser__inner
            .image-frame
              .teaser__image.image-wrap
                .image
                  img(src="files/directory/img/pic_1.png" alt="Immunity" draggable="false")
              .order-image.image-wrap
                .order-price
                  .order-price__old 1299 ₽
                  .order-price__new 999 ₽
                .image
                  img(src="files/directory/img/product.png" alt="Bioscan" draggable="false")



      
