.opinion
  .keepcenter
    .opinion__inner
      .opinion__info
        h2.opinion__title Какова позиция медицинского сообщества?
        .opinion__text-block
          p.opinion__text “Если у человека появились герпетические высыпания, значит, иммунитет ослаб настолько, что не справляется с вирусом. И тут никакие разрекламированные мази не помогут. Они лишь приглушат симптомы на короткое время, но длительного улучшения не дадут, вирус продолжит разрушать организм.
          p.opinion__text Главное в этом случае — своевременно поддержать иммунную систему, укрепить ее, чтобы достичь глубокой ремиссии. Если же у человека диагностирован ВПЧ онкогенных типов — забота об иммунитете должна стать первостепенной задачей.
          p.opinion__text В обоих случаях я рекомендую пациентам раз в год пропивать курс иммуномодулирующего препарата "Медовый спас". Он действует с первого дня применения и защищает иммунитет на протяжении 12-18 месяцев. А крепкий иммунитет поможет сдержать болезнь и избавить пациента от ее осложнений.”
          .opinion__caption Саливончик Андрей Павлович 
            br 
            | врач-иммунолог, кандидат медицинских наук
      .opinion__author
        .image
          img(src="files/directory/img/pic_7.png", alt="Doctor")
