.product-components
  .keepcenter
    .product-components__inner
      h2.product-components__title Делает Ваш иммунитет неуязвимым
      h3.product-components__subtitle Активное вещество Фитонциды - биологически активные вещества, которые содержатся в луке и чесноке, подавляют и убивают рост, а также развитие бактерий
      .product-components__container
        ul.product-components__list
          li.product-components__item
            .product-components__picture.image-wrap
              .image
                img(src="files/directory/img/pic_2.png", alt="Витамин С")
            .product-components__info
              h4.product-components__subject Витамин C
              p.product-components__text Наступление пика эпидемии однозначно предсказать сложно, однако это может произойти в течении
          li.product-components__item
            .product-components__picture.image-wrap
              .image
                img(src="files/directory/img/pic_3.png", alt="Эвкалипт")
            .product-components__info
              h4.product-components__subject Экстракт эвкалипта
              p.product-components__text Наступление пика эпидемии однозначно предсказать сложно, однако это может произойти в течении
          li.product-components__item
            .product-components__picture.image-wrap
              .image
                img(src="files/directory/img/pic_4.png", alt="Корень Имбиря")
            .product-components__info
              h4.product-components__subject Корень имбиря
              p.product-components__text Наступление пика эпидемии однозначно предсказать сложно, однако это может произойти в течении
          li.product-components__item
            .product-components__picture.image-wrap
              .image
                img(src="files/directory/img/pic_5.png", alt="Кардамон")
            .product-components__info
              h4.product-components__subject Кардамон
              p.product-components__text Наступление пика эпидемии однозначно предсказать сложно, однако это может произойти в течении
        .product-components__image.image-wrap
          .image
            img(src="files/directory/img/product.png", alt="Bioscan")

