.singl-layer
  .keepcenter
    .singl-layer__inner
      .singl-layer__form
        h2.singl-layer__title НЕПРОБИВАЕМЫЙ ИММУНИТЕТ ВСЕГО ЗА ОДИН КУРС!
        .form
          form(action="/order" method="post")
            .form__field
              input(type="text" placeholder="Ваше имя")
            .form__field
              input(type="text" placeholder="Ваш телефон")
            .form__button
              button(type="submit" class="button") купить препарат
      .singl-layer__teaser
        .time-left.singl-layer__time-left
          .time-left__counter
            script(src="files/directory/js/timerInit.js")
        .image-wrap
          .singl-layer__price.order-price.order-price_sky
            .order-price__old 1299 ₽
            .order-price__new 999 ₽
          .image.light-shadow
            img(src="files/directory/img/product.png" alt="Bioscan" draggable="false")

