.singl-layer
  .keepcenter
    .singl-layer__inner
      .singl-layer__form
        h2.singl-layer__title НЕПРОБИВАЕМЫЙ ИММУНИТЕТ ВСЕГО ЗА ОДИН КУРС!
        .form
          form(action="/order" method="post")
            .form__field
              input(type="text" placeholder="Ваше имя")
            .form__field
              input(type="text" placeholder="Ваш телефон")
            .form__button
              button(type="submit" class="button") купить препарат
      .singl-layer__teaser
        .singl-layer__order-image
          .singl-layer__price.order-price.order-price_sky
            .order-price__old 1299 ₽
            .order-price__new 999 ₽
          .image-wrap
            .image.light-shadow
              img(src="files/directory/img/product.png" alt="Bioscan" draggable="false")
        .time-left.singl-layer__time-left
          .time-left__counter
            script(src="//megatimer.ru/get/a882e8a71d553dd5a5ffaf64a51121c7.js")

