.doc-slider
  .keepcenter
    .doc-slider__inner
      h2.doc-slider__title Наши сертификаты
      .doc-slider__container
        .doc-slider__item
            img(src="files/directory/img/pic_8.png", alt="Document")
        .doc-slider__item
            img(src="files/directory/img/pic_8.png", alt="Document")
        .doc-slider__item
            img(src="files/directory/img/pic_8.png", alt="Document")
        .doc-slider__item
            img(src="files/directory/img/pic_8.png", alt="Document")
        .doc-slider__item
            img(src="files/directory/img/pic_8.png", alt="Document")
        .doc-slider__item
            img(src="files/directory/img/pic_8.png", alt="Document")
        .doc-slider__item
            img(src="files/directory/img/pic_8.png", alt="Document")
        .doc-slider__item
            img(src="files/directory/img/pic_8.png", alt="Document")
        .doc-slider__item
            img(src="files/directory/img/pic_8.png", alt="Document")
        .doc-slider__item
            img(src="files/directory/img/pic_8.png", alt="Document")
