.stages
  .keepcenter
    .stages__inner
      h2.stages__title Фармакологический эффект
      p.stages__description Всасывание и распределениеПри приеме внутрь в общий кровоток поступает около 20% введенной дозы препарата. Через 24 ч после введения в организм препарат накапливается в основном в печени, в меньшей степени - в легких, тимусе, селезенке, почках, лимфатических узлах
      ul.stages__list
        li.stages__item
          .stages__icon
            span.stages__ico
              svg.icon
                use(xlink:href="#ico_9")
          .stages__text Вызывать у людей различные болезни: от обычной простуды до атипичной 
        li.stages__item
          .stages__icon
            span.stages__ico
              svg.icon
                use(xlink:href="#ico_10")
          .stages__text Пневмонии — тяжелого острогоGреспираторного синдрома, который может привести
        li.stages__item
          .stages__icon
            span.stages__ico
              svg.icon
                use(xlink:href="#ico_11")
          .stages__text Вызывать у людей различные болезни: от обычной простуды до атипичной 
        li.stages__item
          .stages__icon
            span.stages__ico
              svg.icon
                use(xlink:href="#ico_12")
          .stages__text Новый вирус относят к семейству коронавирусов, которые способны


