html, body {
    height: 100%;
}

body {
    line-height: 1.3;
    min-width: 320px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: $text;
    background-color: $body;
}

h1, h2, h3, h4 {
    font-weight: bold;
    margin: 0rem 0rem 1.5rem 0rem;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.125rem;
}

h4, h5 {
    font-size: 1rem;
}

p {
    margin: 0rem 0rem 1.5rem 0rem;
}

a {
    text-decoration: none;
    transition: all 0.15s ease-in;
}

a:hover {
    text-decoration: underline
}

img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
}

input {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 1rem;
}

b {
    font-weight: bold;
}

.button {
    border: none;
    padding: 26px 50px;
    border: none;
    border-radius: 200px;
    background: $sky;
    display: inline-block;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
    font-size: 22px;
    font-weight: bold;
    line-height: 1;
    color: #ffffff;
    text-decoration: none !important;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    user-select: none;
    cursor: pointer;
    transition: all 0.15s ease-in;

    &:hover {
        background: $blue;
    }

    &_block {
        display: block;
        width: 100%;
        
    }

    &_blue {
        background-color: $blue;
        
        &:hover {
            background: $sky;
        }
    }
}

.layout {
    max-width: 1920px;
    margin: 0 auto;
    overflow: hidden;
}

.keepcenter {
    max-width: 1140px;
    margin: 0 auto;

    @include respond(lg) {
        padding: 0px 15px;
    }
}

.main {
    flex-grow: 1;
}

.image-wrap,
.video-wrap {   
    position: relative;

    &:before {
        display: block;
        padding-top: 55%;
        content: "";
    }

    .image,
    .video {
        position: absolute;
        top: 0; left: 0;
        width: 100%;
        height: 100%;

        img,
        video {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}


.icon {
    color: $sky;
    fill: $sky;

    path {
        color: $sky;
        fill: $sky;
    }
}

.form {
    max-width: 450px;

    &__field {
        margin-bottom: 10px;

        input {
            padding: 22px 25px 22px 25px;
            border: 0;
            border-radius: 200px;
            width: 100%;
        }
    }
}

.light-shadow {
    position: absolute;
    opacity: 0.99;

    &:before {
        content: '';
        width: 90%;
        height: 90%;
        position: absolute;
        left: 50%; top: 50%;
        transform: translate(-50%, -50%);
        background-color: transparent;
        box-shadow: 0px 0px 60px 50px rgba(102, 204, 227, 0.25);
        z-index: -1;
    }
}